@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,700,600&subset=latin,cyrillic);
/* line 1, styles.less */
* {
  position: relative;
}
/* line 4, styles.less */
.clr {
  clear: both;
}
/* line 8, styles.less */
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* line 13, styles.less */
ul.arrow-marked {
  list-style: none;
  padding-left: 0;
}
/* line 16, styles.less */
ul.arrow-marked li {
  padding-left: 30px;
  min-height: 30px;
  margin: 10px 0;
  background: url('../images/li-arrow.png') left top no-repeat;
}
/* line 23, styles.less */
ul.circle-marked {
  list-style: none;
  padding-left: 0;
}
/* line 26, styles.less */
ul.circle-marked li {
  padding-left: 50px;
  min-height: 40px;
  background: url('../images/li-circle.png') left top no-repeat;
}
/* line 32, styles.less */
ul.check-marked {
  list-style: none;
  padding-left: 0;
}
/* line 35, styles.less */
ul.check-marked li {
  padding-left: 50px;
  min-height: 40px;
  background: url('../images/li-check.png') left top no-repeat;
}
/* line 41, styles.less */
.review {
  font-size: 18px;
  color: #8b7f8d;
  line-height: 155%;
}
/* line 45, styles.less */
.review i {
  font-size: 30px;
  color: #a550a2;
}
/* line 49, styles.less */
.review p.date {
  font-size: 13px;
  color: #b256af;
}
/* line 53, styles.less */
.review p.author {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #a550a2;
}
/* line 60, styles.less */
table {
  border-collapse: collapse;
  border: none;
}
/* line 65, styles.less */
table thead tr th {
  color: #582257;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
/* line 77, styles.less */
table tbody tr td {
  color: #8b7f8d;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}
/* line 86, styles.less */
a.sign-up {
  width: 250px;
  margin: 20px auto;
  background: #a550a2;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 10px 15px;
  margin: auto;
  display: block;
}
/* line 102, styles.less */
a.sign-up:hover {
  background: #832e80;
}
/* line 106, styles.less */
div.header {
  background: #a550a2;
}
/* line 108, styles.less */
div.header .block-left {
  background: url('../images/block-left-bg.jpg') no-repeat center center;
  background-size: cover;
  width: 61%;
  float: left;
  border-right: solid 4px #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 116, styles.less */
div.header .block-left .text {
  float: right;
  width: 60%;
  padding-top: 75px;
  padding-bottom: 147px;
}
/* line 121, styles.less */
div.header .block-left .text .logo {
  float: left;
  margin-right: 15px;
}
/* line 125, styles.less */
div.header .block-left .text h2 {
  color: #ffffff;
  font-size: 44px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  margin: 0;
}
/* line 133, styles.less */
div.header .block-left .text p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 142, styles.less */
div.header .block-left .text ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 146, styles.less */
div.header .block-left .text ul li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  list-style: none;
  background: url('../images/icons.png') left 9px no-repeat;
  padding-left: 80px;
  min-height: 61px;
  margin-bottom: 20px;
}
/* line 161, styles.less */
div.header .block-right {
  background: #a550a2;
  width: 39%;
  float: right;
}
/* line 165, styles.less */
div.header .block-right .text {
  float: left;
  width: 40%;
  padding-top: 75px;
  padding-bottom: 60px;
  padding-left: 140px;
}
/* line 171, styles.less */
div.header .block-right .text h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}
/* line 181, styles.less */
div.header .block-right .text .icon {
  font-family: Font Awesome;
  color: #653163;
  font-size: 48px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}
/* line 194, styles.less */
div.header .block-right .text p {
  padding: 5px 0 5px 0;
  margin: 0;
}
/* line 197, styles.less */
div.header .block-right .text p a {
  text-decoration: underline;
  color: #fff;
}
/* line 200, styles.less */
div.header .block-right .text p a:hover {
  text-decoration: none;
}
/* line 204, styles.less */
div.header .block-right .text p.city {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
}
/* line 211, styles.less */
div.header .block-right .text p.data {
  color: #f1bef0;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
}
/* line 218, styles.less */
div.header .block-right .text p.name {
  color: #f1bef0;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
}
/* line 226, styles.less */
div.header .block-right .text .icon-bottom {
  margin: auto;
  width: 55px;
  padding-top: 40px;
}
/* line 235, styles.less */
section.block1 {
  width: 960px;
  margin: auto;
}
/* line 238, styles.less */
section.block1 h2 {
  color: #582257;
  font-size: 37px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  padding-top: 150px;
}
/* line 246, styles.less */
section.block1 div {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 160px;
  margin: 0;
}
/* line 255, styles.less */
section.block1 div span {
  color: #582257;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
/* line 262, styles.less */
section.block1 div.column-left {
  width: 50%;
  float: left;
}
/* line 266, styles.less */
section.block1 div.column-right {
  width: 50%;
  float: right;
}
/* line 270, styles.less */
section.block1 div.clr {
  padding: 0;
}
/* line 275, styles.less */
section.block2 {
  background: #1e051d;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* line 279, styles.less */
section.block2 h1 {
  color: #ffffff;
  font-size: 46px;
  font-weight: 600;
  line-height: 55px;
  text-align: center;
  padding-bottom: 70px;
  margin: 0;
}
/* line 288, styles.less */
section.block2 .selection-trainer {
  display: block;
  background: #a550a2;
  background-size: contain;
  text-align: center;
  width: 15%;
  margin: auto;
  border-radius: 5px;
}
/* line 296, styles.less */
section.block2 .selection-trainer p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
/* line 307, styles.less */
section.block3 {
  background: url('../images/bg-block3.jpg') no-repeat;
  background-position: 90% bottom;
  padding-top: 195px;
  padding-bottom: 80px;
}
/* line 312, styles.less */
section.block3 .wrapper {
  width: 960px;
  margin: auto;
}
/* line 315, styles.less */
section.block3 .wrapper .text {
  width: 50%;
}
/* line 317, styles.less */
section.block3 .wrapper .text h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}
/* line 324, styles.less */
section.block3 .wrapper .text p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
/* line 334, styles.less */
section.block4 {
  background: #f6f4f6;
}
/* line 336, styles.less */
section.block4 .wrapper {
  width: 960px;
  margin: auto;
  padding-bottom: 165px;
}
/* line 340, styles.less */
section.block4 .wrapper h3 {
  color: #582257;
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0;
}
/* line 350, styles.less */
section.block4 .wrapper p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 15px 0 15px 0;
  margin: 0;
}
/* line 358, styles.less */
section.block4 .wrapper p.left {
  width: 50%;
  float: left;
}
/* line 362, styles.less */
section.block4 .wrapper p.right {
  width: 50%;
  float: right;
}
/* line 369, styles.less */
section.block5 {
  padding-top: 150px;
}
/* line 371, styles.less */
section.block5 h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 46px;
  text-align: center;
}
/* line 383, styles.less */
section.block6 .wrapper {
  width: 960px;
  margin: auto;
}
/* line 386, styles.less */
section.block6 .wrapper.with-icon {
  background: url('../images/icon-block6.jpg') center right no-repeat;
  padding-top: 150px;
}
/* line 390, styles.less */
section.block6 .wrapper .left {
  float: left;
  width: 50%;
}
/* line 394, styles.less */
section.block6 .wrapper h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  margin: 0;
  padding-bottom: 30px;
}
/* line 403, styles.less */
section.block6 .wrapper p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}
/* line 413, styles.less */
section.block6 .DI-1 {
  background: #1e051d;
}
/* line 415, styles.less */
section.block6 .DI-1 .wrapper {
  width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 50px 0;
}
/* line 420, styles.less */
section.block6 .DI-1 .wrapper h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin: 0;
  float: left;
  width: 70%;
}
/* line 430, styles.less */
section.block6 .DI-1 .wrapper a.btn {
  float: right;
  display: block;
  width: 25%;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #a550a2;
  color: #a550a2;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: none;
  padding: 10px 10px;
  margin-top: 10px;
}
/* line 449, styles.less */
section.block7 .wrapper {
  width: 960px;
  margin: auto;
}
/* line 452, styles.less */
section.block7 .wrapper.with-icon {
  background: url('../images/icon-block7.jpg') center right no-repeat;
  padding-top: 150px;
}
/* line 456, styles.less */
section.block7 .wrapper .left {
  float: left;
  width: 50%;
}
/* line 459, styles.less */
section.block7 .wrapper .left h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}
/* line 468, styles.less */
section.block7 .wrapper .left p {
  color: #8b7f8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}
/* line 479, styles.less */
section.block7 .course-DI1 {
  background: #1e051d;
}
/* line 481, styles.less */
section.block7 .course-DI1 .wrapper {
  width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 50px 0;
}
/* line 486, styles.less */
section.block7 .course-DI1 .wrapper h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin: 0;
  float: left;
  width: 70%;
}
/* line 496, styles.less */
section.block7 .course-DI1 .wrapper a.btn {
  float: right;
  display: block;
  width: 25%;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #a550a2;
  color: #a550a2;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: none;
  padding: 10px 10px;
  margin-top: 10px;
}
/* line 515, styles.less */
section.block8 .wrapper {
  width: 960px;
  margin: auto;
  padding-top: 150px;
}
/* line 519, styles.less */
section.block8 .wrapper h4 {
  color: #582257;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 42px;
  text-align: center;
}
/* line 527, styles.less */
section.block8 .wrapper p {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
/* line 534, styles.less */
section.block8 .wrapper .icon {
  margin: auto;
  width: 55px;
  padding-top: 40px;
}
/* line 543, styles.less */
section.block9 .wrapper {
  width: 960px;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 160px;
}
/* line 548, styles.less */
section.block9 .wrapper h2 {
  color: #582257;
  font-size: 37px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  margin: 0;
  padding-bottom: 90px;
}
/* line 557, styles.less */
section.block9 .wrapper .left {
  width: 50%;
  float: left;
}
/* line 561, styles.less */
section.block9 .wrapper .right {
  wight: 50%;
  float: right;
}
/* line 565, styles.less */
section.block9 .wrapper p {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin: 0;
  padding-bottom: 30px;
}
/* line 576, styles.less */
section.block10 {
  background: url('../images/bg-block10.jpg') no-repeat center center;
  background-size: cover;
}
/* line 579, styles.less */
section.block10 .wrapper {
  width: 960px;
  margin: auto;
  padding-top: 380px;
  padding-bottom: 90px;
}
/* line 584, styles.less */
section.block10 .wrapper h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
/* line 593, styles.less */
section.block10 .wrapper p {
  color: #bdc3c7;
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  margin: 0;
}
/* line 601, styles.less */
section.block10 .wrapper .icon {
  margin: auto;
  width: 55px;
  padding-top: 220px;
}
/* line 609, styles.less */
section.block11 .wrapper {
  width: 630px;
  margin: auto;
  padding-top: 150px;
}
/* line 613, styles.less */
section.block11 .wrapper p {
  color: #8b7f8d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
/* line 624, styles.less */
section.block12 .wrapper {
  width: 960px;
  margin: auto;
  overflow: hidden;
}
/* line 628, styles.less */
section.block12 .wrapper h3 {
  color: #582257;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 80px;
}
/* line 637, styles.less */
section.block12 .wrapper .item {
  float: left;
  width: 300px;
  margin-right: 20px;
  padding-bottom: 50px;
  border-bottom: solid 2px #ebedee;
  margin-bottom: 80px;
  text-decoration: none;
  color: #8b7f8d;
  height: 250px;
}
/* line 647, styles.less */
section.block12 .wrapper .item .photo-container {
  width: 300px;
  height: 180px;
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
}
/* line 655, styles.less */
section.block12 .wrapper .item .photo-container p.name {
  position: absolute;
  width: 100%;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  bottom: 15px;
  z-index: 2;
  margin: 0;
  padding-left: 15px;
}
/* line 670, styles.less */
section.block12 .wrapper .item .photo-container .fader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/fader.png');
  z-index: 1;
  display: none;
}
/* line 678, styles.less */
section.block12 .wrapper .item .photo-container img {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 684, styles.less */
section.block12 .wrapper .item p.slogan {
  color: #8b7f8d;
  font-size: 14px;
  font-style: italic;
  line-height: 21px;
  text-align: center;
}
/* line 691, styles.less */
section.block12 .wrapper .item:hover {
  border-color: #a550a2;
}
/* line 693, styles.less */
section.block12 .wrapper .item:hover .fader {
  display: block;
}
/* line 701, styles.less */
section.block13 .wrapper {
  width: 95%;
  margin: auto;
  max-width: 1300px;
  padding-bottom: 140px;
}
/* line 706, styles.less */
section.block13 .wrapper h3 {
  margin-top: 70px;
  color: #582257;
  font-size: 35px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
}
/* line 712, styles.less */
section.block13 .wrapper .photo-container {
  width: 475px;
  float: left;
  margin-right: 90px;
}
/* line 716, styles.less */
section.block13 .wrapper .photo-container img {
  width: 100%;
  display: block;
}
/* line 721, styles.less */
section.block13 .wrapper .about {
  overflow: hidden;
}
/* line 724, styles.less */
section.block13 .wrapper .about ul {
  font-size: 20px;
  color: #8b7f8d;
  line-height: 180%;
}
/* line 728, styles.less */
section.block13 .wrapper .about ul li {
  margin: 20px 0;
  background-position: left 9px;
}
/* line 734, styles.less */
section.block13 .wrapper .results {
  width: 80%;
  margin: 125px auto 20px auto;
}
/* line 738, styles.less */
section.block13 .wrapper .results ul li {
  margin: 20px 0;
  color: #8b7f8d;
  font-size: 16px;
  background-position: left 7px;
}
/* line 747, styles.less */
section.block13 .schedule {
  background: #f6f4f6;
  padding-top: 40px;
}
/* line 750, styles.less */
section.block13 .schedule .wrapper {
  width: 95%;
  max-width: 930px;
  margin: auto;
}
/* line 754, styles.less */
section.block13 .schedule .wrapper h3 {
  display: block;
  width: 100%;
  background: url('../images/icon-microfon.png') left top no-repeat;
  height: 270px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 40%;
  padding-top: 30px;
}
/* line 764, styles.less */
section.block13 .schedule .wrapper table {
  width: 100%;
  margin-top: 80px;
}
/* line 767, styles.less */
section.block13 .schedule .wrapper table td {
  width: 33%;
}
/* line 771, styles.less */
section.block13 .schedule .wrapper a.sign-up {
  margin-top: 40px;
}
/*# sourceMappingURL=styles.css.map */